# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
*.env

# Data
data/models_old
data/raw/*
data/processed/*
data/pretraining/*
data/quads/*
data/models/*
!data/models/.gitkeep

# OS / Editor files
.DS_Store
Thumbs.db
